@inject IJSRuntime JSRuntime

<div class="mdc-text-field mdc-text-field--fullwidth" @ref="_elementRef">
    <input type="text" class="mdc-text-field__input" value="@Value" @onchange="OnChange">
    <div class="mdc-line-ripple"></div>
    <label class="mdc-floating-label">@Caption</label>
</div>

@code {
    [Parameter]
    public string Caption { get; set; }
    [Parameter]
    public string Value { get; set; }
    [Parameter]
    public EventCallback<string> ValueChanged { get; set; }
    [Parameter]
    public EventCallback<string> OnValueChanged { get; set; }

    protected ElementReference _elementRef { get; set; }

    protected async Task OnChange(ChangeEventArgs args)
    {
        await this.ValueChanged.InvokeAsync(args.Value.ToString());
        await this.OnValueChanged.InvokeAsync(args.Value.ToString());
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("Interop.TextField_Init", this._elementRef);
        }
    }
}
